.hero {
  background-color: rgb(13, 158, 115);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: xx-large;
}
#fancyhero {
  height: 800px;
  background-size: contain;
  bottom: 0px;
  background-repeat: no-repeat;

}

.form-box {
  background: transparent;
}

.main-body{
  background-image: url("./Images/CookingNTRLProject-01.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.navbar{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
#search-input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
}